
##############################
## Python
##############################
__pycache__/

##############################
## VS CODE
##############################
.vscode

##############################
## macOS
##############################
.DS_Store

##############################
## Input/Output
##############################
input
output